# ignore R files R codes 
*.Rhistory
*.RData
FreSpeD.R

# ignore files generated when running python codes 

# ignore this files 
*.set
*.fdt 

# The output of the FreSpeD algorithm is stored in a file of type *.rds
*.json
*.rds